<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type= "text/css" href="HOME.css">
</head>
<body>
    <div class="main">
        <h1 class="title">OrthoPredict</h1>
        <div class="outer">
            <div class="inner-about">
            This project report presents an Internet of Things (IoT) based system for measuring movement angles and 
            tracking the rate of recovery after a fracture. 
            The aim of the project is to address the challenges faced by patients and healthcare providers in monitoring 
            and assessing fracture rehabilitation 
            progress, while enabling patients to self-monitor their recovery and providing 
            remote monitoring capabilities for healthcare providers.
            </div>

            <div class="container_1">
                

            </div>
        </div>

        <div class="Buttons">
            <div class="inner-new">
                <form action="/predict/new">
                    <button class="inner-new-btn">New Patient</button>
                </form>
            </div>
            <div class="inner-all">

                <form action="/predict">
                    <button class="inner-all-btn">All patients</button>
                </form>
            </div>
        </div>
        <div class="container">
            <!-- Add some content here if needed -->
        </div>
    </div>    
</body>
</html>