<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictor</title>
    <link rel="stylesheet" href="SHOW.css">
</head>
<body>
    <div class="docs">
        <h1 class="title">Maximum Recovery is 1 and Minimum recovery is 0</h1>
        
            <p>
            If Recovery Rate is between 0.5 to 0.7 then <br>
            it is Low Recovery
            </p>
            
            
            <br>
            
            <p>
            If Recovery Rate is between 0.7 to 0.75 then <br>
            it is Decent Recovery
            </p>
            

            <br>
            
            <p>
            If Recovery rate is more than 0.75 then <br>
            it is Excellent Recovery
            </p>
            
            <br>
        
    </div>
    <div>
        <h1 class="answer"><%= JSON.stringify(a,null,2) %></h1>
    </div>
</body>
</html>